@tailwind base;
@tailwind components;
@tailwind utilities;

#__nuxt {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

// make hotjar feedback button smaller
._hj-AcOyB__styles__openStateButtonToggle _hj-cqDlV__styles__buttonToggleMiddleRight{
    width: 30px !important;
}